@tailwind base;
@tailwind components;
@tailwind utilities;

.satoshi {
  font-family: var(--font-satoshi);
}

.anton {
  font-family: var(--font-anton);
}

.opacity-black {
  color: #0000009c;
}

.bg-smNav {
  background-color: #0000009d;
}

.transition-base {
  @apply transition-all duration-300 ease-linear;
}

/* sLIDER Move */
.slider-move {
  animation: sliderMove 10s linear backwards alternate infinite;
}

.small-shadow {
  box-shadow: 0 0 10px #dddddd;
}

@keyframes sliderMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150px);
  }
}
/* Slider move */
html {
  font-size: 14px; /* 1rem = 14px */
}

/* Small screens (>=640px) */
@media (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

/* Medium screens (>=768px) */
@media (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

/* Large screens (>=1024px) */
@media (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

/* Extra Large screens (>=1280px) */
@media (min-width: 1280px) {
  html {
    font-size: 16px;
  }
}

/* 2XL screens (>=1536px) */
@media (min-width: 1536px) {
  html {
    font-size: 19px;
  }
}
